/*body settings*/
body, html {
    height: 100%;
    margin: 0;
    font-family: themefont;
}

/*theme colours and fonts*/
@font-face {
    font-family: themefont;
    src: url(/Fonts/Crimson_Text/CrimsonText-Regular.ttf);
}

:root {
    --themeblack: rgba(18, 18, 18, 1);
    --themewhite: rgb(255, 255, 255, 1);
    --themegreen: rgba(77, 136, 65, 1);
    --themelightgreen: rgba(96, 169, 81, 1);
    --themedarkgreen: rgba(63, 110, 53, 1);
    --themedarkergreen: rgba(44, 76, 36, 1);
    --themetranslucentgreen: rgba(63, 110, 53, 0.6); /*used for hero image*/
    --themelightgrey: rgba(204, 204, 204, 1);
    --themegrey: rgba(179, 179, 179, 1);
    --themedarkergrey: rgba(153, 153, 153, 1);
}


/*text formatting*/
.themetext {
    font-size: 16px;
    font-family: themefont;
    color : var(--themeblack);
    margin: 30px;
    border: 30px;
    padding: 0px;
    height: fit-content;
    text-align : justify;
    line-height: 1.6;
    white-space: wrap;
}

::selection {
    color: var(--themewhite);
    background: var(--themegreen); /* Change highlight colour */
}

/*list*/
ul.themelist {
    font-size: 16px;
    font-family: themefont;
    color : var(--themeblack);
    margin: 30px;
    border: 30px;
    padding: 40px;
    height: fit-content;
    text-align : justify;
    line-height: 1.6;
    white-space: wrap;
    list-style-type: circle;
}


/*header*/
.themeheader {
    font-family: themefont;
    color : var(--themewhite);
    width : 100%;
    background-color: var(--themegreen);
    height : 60px;
    text-align: center;
    line-height: 80px;
}


/* hero image */
.homeheroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/alex-dukhanov-mrTYJBU9Vls-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page1heroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/david-edelstein-VO5yUwRosiY-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page2heroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/faye-cornish-Uq3gTiPlqRo-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page3heroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page4heroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/matthew-smith-rFBA42UFpLs-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.storyboardheroimage {
    background-image: linear-gradient(var(--themetranslucentgreen), var(--themetranslucentgreen)), url("/Images/simon-wilkes-S297j2CsdlM-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--themewhite);
}


/*sticky navigation bar*/
ul.nav {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--themewhite);
    overflow: hidden;
    background-color: var(--themegreen);
    position:sticky;
    top: 0;
}
    
li a {
    float: left;
    display: block;
    color: var(--themewhite);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover:not(.active) {
    background-color: var(--themedarkgreen);
    color:var(--themewhite);
    transition: background-color 0.5s
    }


/* buttons */
.button {
    display: inline-block;
    padding: 20px 20px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: var(--themelightgrey);
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px var(--themedarkergrey);
  }
  
.button:hover {
    background-color: var(--themegrey)
}
  
.button:active {
    background-color: var(--themegrey);
    box-shadow: 0 7px var(--themedarkergrey);
    transform: translateY(2px);
}

.button:focus {
    background-color: var(--themegreen);
    box-shadow: 0 7px var(--themedarkergreen);
}



/* checklist */
margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul.check {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul.check li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}